<form action="/bookmarks" method="post">

  Please enter the URL of the website you would like to bookmark:
  <input type="text" name="addbookmark">
  <input type="submit" value="Submit bookmark">

</form>
